@model UpCycling.Models.AdminController.CreateUserViewModel

@using UpCycling.Controllers
<h2>Créer un Administrateur</h2>

@using (Html.BeginForm(nameof(AdminController.CreateUser), "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <label> Mail :</label>

    @Html.TextBoxFor(m => Model.Email)

    <label> Mot de passe :</label>
    @Html.TextBoxFor(m => Model.Password)
    <label> Confirmation du mot de passe:</label>
    @Html.TextBoxFor(m => Model.ConfirmPassword)

    <div class="">
        <input type="submit" class="btn btn-default rounded bg-dark text-white mt-2" value="Rennomer le dossier" />
    </div>
}


