@model UpCycling.Models.AdminController.CreateUserViewModel

@using UpCycling.Controllers
<h2>Créer un Administrateur</h2>

<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm(nameof(AdminController.CreateUser), "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <label> Mail :</label>
                @Html.TextBoxFor(m => Model.Email, new {@class="form-control"})
            </div>
           

            
            <div>
                <label> Mot de passe :</label>
                @Html.TextBoxFor(m => Model.Password, new { @class = "form-control", type="password" })
            </div>

            <div>
                <label> Confirmation du mot de passe:</label>
                @Html.TextBoxFor(m => Model.ConfirmPassword, new { @class = "form-control", type="password"})
            </div>

            <br />

            <div style="font-size:12px" class="">
                <input type="submit" class="btn btn-outline-success" value="Création utilisateur" />
            </div>
        }

    </div>
</div>


