@{
    ViewData["Title"] = "About";
}
<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>Génèse du projet :</h2>
                <p>Pendant un congé parental de 3 ans, avec mes trois enfants, nous avions une passion : créer nos jeux à partir de matériaux de récupération (inspiration suite à un voyage en Afrique du Nord), une fois créés nous testions les jeux avec notre famille et nos amids. Recycler était devenu un jeu d'enfants !</p>
                <p>En parallèle, j'ai commecé à transformer et à créer des accessoires de décoration afin d'éviter la surconsommation et de m'entourer d'objets inutiles, c'est alors que ma maman, en m'observant, a fait un bon dans le passé. Elle s'est souvenu du temps où elle transformait un vieux pull en coussin, un sac plastique en panier...<p>
                <p>Ce nouveau partage intergénérationel nous a donnée l'envie de partager, jouer, recycler. Cela nous a même motivé en 2016 à créer une association afin de sensibiliser des enfants et des adultes à l'environnement.</p>

            </div>
            <div class="col">
                <img src="~/images/fondatrice.jpg" class="rounded float-right img-fluid" alt="fondatrice">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="~/images/genese du projet.JPG" class="rounded float-right img-fluid" alt="fondatrice">
            </div>
            <div class="col-8">
                <h2>Un savoir-faire caché : le projet groupe de femmes</h2>
                <p>Parmis nos activité nous remettons ç jours des méthodes artisanales en lien avec un group de femmes bénévoles et très engagées dans le but de réduire les déchets. Le monde regorge d'idées concernant le surcyclage (upcycling en anglais).</p>
                <p>Mais parfois, pas besoin d'aller si loin, Notre histoire commence au détour d'un parc, une rencontre surprenante, des femmes emmitouflées assisses sur des bancs froids non loin d'un poste de police. Dans ce coin, protégées, elles discutent mais se sentent bien inutiles.</p>
                <p>Au fil du temps un échange s'organise, des ateliers se créent au chaud. Ces dernières, avec l'appui de notre association, remettent au goût du jour leur savoir-faire qui perdure depuis des générations.</p>

            </div>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Je me rappelerai toujours de cet atelier pendant lequel une des participantes s'est mise à chanter, une grande émotion a parcouru la pièce, je me suis sentie heureuse d'avoir participé à réunir ces femmes et voir de grand sourires illuminer leur visages.</p>
                <footer class="blockquote-footer">Sabrina <cite title="Source Title">Présidente de l'association</cite></footer>
            </blockquote>
        </div>
    </div>
