
@{
    ViewData["Title"] = "Ateliers";
}
<center>
    <h1>Découvrez nos ateliers</h1>
</center>
<hr />

<div class="card mb-5">
    <div class="row">
        <div class="col">
            <img src="~/images/image grid index/jeu final international.jpg" class="card-img" alt="...">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Ateliers pour enfants</h5>
                <p class="card-text" style="text-align:justify">Inscrivez vos enfants de 6 ans et plus à cet atelier. Pour une durée de 45 minutes à 1h30, les enfants réaliseront un jouet qu'ils pourront rapporter chez eux.</p>
                <a class="btn btn-primary float-right" asp-area="" asp-controller="Home" asp-action="ActivityChildren">Voir détails</a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-5">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Ateliers pour adultes & enfants</h5>
                <p class="card-text" style="text-align:justify">Venez partager un moment en famille autours de la création de jeux et accessoires recyclés.</p>
                <a class="btn btn-primary float-left" asp-area="" asp-controller="Home" asp-action="ActivityChildren">Voir détails</a>
            </div>
        </div>
        <div class="col">
            <img src="~/images/image grid index/puissance 4.JPG" class="card-img" alt="...">
        </div>
    </div>
</div>

<div class="card mb-5">
    <div class="row">
        <div class="col">
            <img src="~/images/image grid index/panier upcyclé.jpg" class="card-img" alt="...">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Ateliers pour adultes</h5>
                <p class="card-text" style="text-align:justify">Apprendre un savoir faire venu d'ailleurs pour transformer des matériaux de récupération en accessoires.</p>
                <span>
                    <a class="btn btn-primary float-right" asp-area="" asp-controller="Home" asp-action="ActivityAdult">Voir détails</a>
                </span>   
            </div>
        </div>
    </div>
</div>

<div class="card mb-5">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Ateliers sensibilisation</h5>
                <p class="card-text" style="text-align:justify">Inscrivez vous à cet atelier pour être initiés à l'upcycling grâce à une ludothèque 100% récup'</p>
                <a class="btn btn-primary float-left" asp-area="" asp-controller="Home" asp-action="Introduction">Voir détails</a> 
            </div>
        </div>
        <div class="col">
            <img src="~/images/image grid index/realisation boite à partage.jpg" class="card-img" alt="...">
        </div>
    </div>
</div>
