
@{
    ViewData["Title"] = "Ateliers Enfant";
}

<center>
    <h1>Notre atelier pour enfants</h1>
</center>
<br />

<h2>
    Description de l'atelier
</h2>

<hr />

<p style="text-align:justify">
    La Maison UpCycling propose des ateliers à destination d'un public d'enfant, seuls ou accompagnés.
    au cours de ces ateliers, les enfants développeront leur imagination grâce à l'utilisation de matériaux recyclés variés.
</p>

<p>
    Nous les guiderons et accompagneronts dans leurs réalisations afin qu'ils puissent s'amuser tout en donnant une seconde vie aux matériaux.
    Les enfant repartent avec leur créations écolos et une prise de conscience du respect de l'environnement.
</p>
<p>
    Nous pouvons accueillir jusqu'à 7 binômes parent/enfant ou bien 6 enfants seuls.
</p>

<br />

<h2>
    Prérequis
</h2>

<hr />

<p style="text-align:justify">
    Nous collectons en amont tous les matériaux nécessaires à la créations de jeux UpCyclés.
</p>

<br />

<h2>
    Besoins techniques
</h2>

<hr />

<p style="text-align:justify">
    Malgré notre mise à disposition de matériaux, il arrive que l'on manque d'espace et de places assise, veuillez emporter si possible de petite tables, chaises ou tabourets.
</p>

<br />

<h2>
    Exemple de réalisations
</h2>

<hr />

<p style="text-align:justify">Nous vous présentons comme exemple de jouet une poupée UpCylcée, et comme exemple de jeu un puissance 4 UpCyclé.</p>
<div class="row">
    <div class="col">
        <img src="~/images/image grid index/puissance 4.JPG" style="max-height:500px" alt="" />
    </div>
    <div class="col">
        <img src="~/images/image grid index/poupée upcyclé.jpg" style="max-height:500px" alt="" />
    </div>
</div>
