
@{
    ViewData["Title"] = "Atelier Adulte";
}

<center>
    <h1>Notre atelier pour adultes</h1>
</center>
 <br />

<h2>
    Description de l'atelier
</h2>

<hr />

<p style="text-align:justify">
    La Maison UpCycling propose un atelier à destination d'un public adulte.
    Durant ces ateliers, nous vous proposons de découvrir comment créer des accessoires artisanaux grâce à un savoir faire venu d'ailleurs.
    Apportez vos sacs en plastique, vieux vêtements, et confectionnont ensemble des accessoires pour leur offrir une seconde vie.
</p>
 
<br />

<h2>
    Prérequis
</h2>

<hr />

<p style="text-align:justify">
    Nous pouvons mettre à disposition notre stock de matériaux au participants, mais sentez vous libres d'apporter vos affaires non utilisées pour les UpCyclées.
</p>

<br />

<h2>
    Besoins techniques
</h2>

<hr />

<p style="text-align:justify">
    Malgré notre mise à disposition de matériaux, il arrive que l'on manque d'espace et de places assise, veuillez emporter si possible de petite tables, chaises ou tabourets.
</p>

<br />

<h2>
    Exemple de réalisations
</h2>

<hr />

<p style="text-align:justify">Nous vous présentons comme exemple un petit panier UpCyclé, utile pour y ranger quelques affaires.</p>
<img src="~/images/image grid index/panier upcyclé.jpg"/>