
@{
    ViewData["Title"] = "Sensibilisation";
}

<center>
    <h1>Atelier Sensibilisation UpCycling</h1>
</center>
<br />

<h2>
    Description de l'atelier
</h2>

<hr />

<p style="text-align:justify">
    La maison UpCycling est une association qui sensibilise à l'environnement, au tri et à la création artistique à travers des atelier en lien avec les centres de loisirs, associations, bibliothèques, écoles...
</p>

<p>
    Avec des méthodes artisanales d'ici et d'ailleurs, des activités ludiques, nous informons et responsabilisons à la démarche de l'upcycling.
</p>
<p>
    Nous nous adressons aux enfants, femmes et hommes de tous âges et de toutes origines socioculturelles.
</p>

<br />

<h2>
    Notre ludothèque
</h2>

<hr />

<p style="text-align:justify">
    Nous proposons, aux participants, notre ludothèque upcyclée qui contient uniquement des jeux réalisés
    à partir de matériaux récupérés : jeux de stratégie, de mémoire ou de construction pour tous les âges.
    Nous mettons tout en œuvre pour que chacun ait sa place et puisse passer un bon moment de
    convivialité.
</p>

<br />

<h2>
    Exemple d'atelier ludothèque
</h2>

<hr />

<p style="text-align:justify">Nous vous présentons comme exemple de jouet une poupée UpCylcée, et comme exemple de jeu un puissance 4 UpCyclé.</p>
<div class="row">
    <div class="col">
        <img src="~/images/image grid index/puissance 4.JPG" style="max-height:500px" alt="" />
    </div>
    <div class="col">
        <img src="~/images/image grid index/poupée upcyclé.jpg" style="max-height:500px" alt="" />
    </div>
</div>


